{% extends "base.html" %}
{% block content %}
	<style type="text/css">
        .entry {
   		padding: 20px;
   		margin: 10px;
   		background: white;
   		color: black;
   		opacity: 0.8;
   		font-size: 16px;
   		font-weight: bold;
   		line-height: 1.3em;
   		border: 2px;
   		border-radius: 10px;
   		box-shadow: 0 0 0 4px white, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
   		font-weight: normal;
   		border-bottom-left-radius: 3px 3px;
		}
    </style>
    <table>
    {% for p in pages %}
        <tr class="entry">
            <td>{{p.created.strftime("%a, %d %b %Y %H:%M:%S")}}</td>
            <td>{{p.content}}</td>
            <td><a href="{{p.url}}?v={{p.key().id() | safe }}">view</a></td>
        </tr>
{% endfor %}
    </table>
{% endblock %}