{% extends "base.html" %}

{% block content %}
<style>
 textarea {
 		position: center;
        border:2px solid #000000;width: 400px; height: 200px; font-size: 17px; font-family: monospace;
        }
	input[type=text] {
        border:2px solid #000000;width: 400px; font-size: 20px; padding: 2px;
        }
     	.texttitle {
        color: white;
        font-size: 40px;
        }   
        .textstuff {
        color: white;
        font-size: 20px;
        }

</style>
{{p.render() | safe}}
<br><br>
<div class = "texttitle">Comments:</div>
{% if comments %}
{% for p in comments %}
	{{p.render() | safe}}
<br><br>
{% endfor %}
{% endif %}
<br><br><br>
  <div class="texttitle"><u>New Comment</u></div>
	<br>
    <form method="post">
      <label>
        <div class="textstuff"><b>Comment</b></div>
        <textarea name="content">{{content}}</textarea>
      </label>

      <div class="textstuff">{{error}}</div>

      <input type="submit">
    </form>
{% endblock %}